<div class="base-rate">
		<img src=<%= @result["Poster"] %> alt="">
		<div class="info">
			<ul>
				<b><li class="title"><%= @result["Title"] %></li></b>
				<li class="plot"><%= @result["Plot"] %></li>
			</ul>
		</div>
		<div class="fun">
		<!-- 	<ul>
				<li>imdb: <%#= @ratings[:imdb] %></li>
				<li>meta: <%#= @ratings[:meta] %> </li>
				<li>rt: <%#= @ratings[:rt] %> </li>
			</ul> -->
			<% if current_user.rate_count > 19 %>	
				<% if @projected.is_a? Numeric %>
					<p class='projected'>Projected Rating <%= (@projected/2).round(1) %>/5.0</p>
				<% else %>
					<p class="projected"><%= @projected %></p>
				<% end %>
			<% else %>
				<p class="projected"> You need to rate at least <%= 20 - current_user.rate_count %> more films until we can project a rating</p>
			<% end %>
			<p id='created' class="saved">Your Rating Was Succesfully Saved!</p>
			<p id='updated' class="saved">Your Rating Was Succesfully Updated!</p>
			<div id="rating-form" data-turbolinks='false'>
				<%= render partial: 'user_ratings/user_rating_form', locals: {result: @result, ratings: @ratings, projected: @projected} %>
			</div>

			
		</div> <br>
		<%= button_to "Next Film", next_film_path(already_rated: @already_rated, not_rated: @not_rated), class: 'next_film waves-effect waves-light btn deep-purple darken-3', method: :put, remote: true  %>
</div>
