<div class="col s4 offset-s3 search_result">
	<% if @ratings %> 
		<img src=<%= @result["Poster"] %> alt="">
		<div class="info">
			<ul>
				<b><li class="title"><%= @result["Title"] %></li></b>
				<li class="plot"><%= @result["Plot"] %></li>
			</ul>
		</div>
		<div class="fun">
			<% if @user_rating.nil? %>
				<% if @projected.is_a? Numeric %>
					<p class='projected'>Projected Rating <%= (@projected/2).round(1) %>/5.0</p>
				<% else %>
					<p class="projected"><%= @projected %></p>
				<% end %>
				<p id='created' class="saved">Your Rating Was Succesfully Saved!</p>
				<p id='updated' class="saved">Your Rating Was Succesfully updated!</p>
				<div class="rating-form">
					<%= render partial: 'user_ratings/user_rating_form', locals: {result: @result, ratings: @ratings, projected: @projected} %>
				</div>
			<% else %>
				<p id='created' class="saved">Your Rating Was Succesfully Saved!</p>
				<p id='updated' class="saved">Your Rating Was Succesfully updated!</p>
				<div class="user_rated">
					<p>Your Rating:</p>
					<%= render partial: 'user_ratings/user_rating_update', locals: {result: @result, ratings: @ratings, projected: @projected} %>
				</div>
			<% end %>
		</div>
	<% else %>
	<div class="not-found">
		<p>There wasn't a result for <%= params[:search] %>. Are you sure you spelled it correctly? </p>
	</div>
	<% end %>
</div>

