<div class="col s4 offset-s3 search_result">
	<% if @ratings %> 
		<img src=<%= @result["Poster"] %> alt="">
		<div class="info">
			<ul>
				<b><li class="title"><%= @result["Title"] %></li></b>
				<li class="plot"><%= @result["Plot"] %></li>
			</ul>
		</div>
		<div class="fun">
			<ul>
				<li>imdb: <%= @ratings[:imdb] %></li>
				<li>meta: <%= @ratings[:meta] %> </li>
				<li>rt: <%= @ratings[:rt] %> </li>
			</ul>
				
			<% if @user_rating.nil? %>
				<% if @projected.is_a? Numeric %>
					<p class='projected'>Projected Rating <%= (@projected/2).round(1) %>/5</p>
				<% else %>
					<p class="projected"><%= @projected %></p>
				<% end %>

				<div class="rating-form">
					<%= render partial: 'user_ratings/user_rating_form', locals: {result: @result, ratings: @ratings, projected: @projected} %>
				</div>
			<% else %>
				<p >Your Rating: <%= @user_rating.rating/2 %>/5</p>
			<% end %>
			<div class="rated"></div>
		</div>
	<% else %>
	<div class="not-found">
		<p>There wasn't a result for <%= params[:search] %>. Are you sure you spelled it correctly? </p>
	</div>
	<% end %>
</div>

