<div id="update-form">
	<%= form_with model: @user_rating, scope: :movie, html: {multipart: true}, remote: true do |f| %>
		<%= f.hidden_field :imdb_id, value: result['imdbID'] %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.hidden_field :genres, value: result['Genre'] %>
		<%= f.hidden_field :imdb, value: ratings[:imdb] %>
		<%= f.hidden_field :meta, value: ratings[:meta] %>
		<%= f.hidden_field :rt, value: ratings[:rt] %>
		<% if projected.is_a?(Numeric) %>
			<%= f.hidden_field :proj, value: projected, id: 'user_projected_rating' %>
		<% end %>
    <% if !@user_rating.nil? %>
      <%= f.hidden_field :rating, value: @user_rating.rating, id: 'this_rating' %>
    <% else %>
      <%= f.hidden_field :rating, value: nil, id: 'this_rating' %>
    <% end %>

    <ul id="stars">
      <li id="star2">
        <i class="fa fa-star-o fa-3x" data-rating="2"></i>
        <i class="fa fa-star-half-o fa-3x" data-rating="1"></i>
        <i class="fa fa-star fa-3x" data-rating="2" ></i>
      </li>
      <li id="star4">
        <i class="fa fa-star-o fa-3x" data-rating="4"></i>
        <i class="fa fa-star-half-o fa-3x" data-rating="3"></i>
        <i class="fa fa-star fa-3x" data-rating="4" ></i>
      </li>
      <li id="star6">
        <i class="fa fa-star-o fa-3x" data-rating="6"></i>
        <i class="fa fa-star-half-o fa-3x" data-rating="5"></i>
        <i class="fa fa-star fa-3x" data-rating="6" ></i>
      </li>
      <li id="star8">
        <i class="fa fa-star-o fa-3x" data-rating="8"></i>
        <i class="fa fa-star-half-o fa-3x" data-rating="7"></i>
        <i class="fa fa-star fa-3x" data-rating="8" ></i>
      </li>
      <li id="star10">
        <i class="fa fa-star-o fa-3x" data-rating="10"></i>
        <i class="fa fa-star-half-o fa-3x" data-rating="9"></i>
        <i class="fa fa-star fa-3x" data-rating="10"></i>
      </li>
  	</ul>

		<div class="wait_rate">
			<%= f.submit :class => 'waves-effect waves-light btn deep-purple darken-3 save_film' %>
		</div>
	<% end %>

</div>
