<div id="rating-form">
	<p>fuck it!</p>
	<%= form_with model: @user_rating, scope: :movie, url: 'user_ratings', html: {multipart: true}, remote: true do |f| %>
		<%= f.hidden_field :imdb_id, value: result['imdbID'] %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.hidden_field :genres, value: result['Genre'] %>
		<%= f.hidden_field :imdb, value: ratings[:imdb] %>
		<%= f.hidden_field :meta, value: ratings[:meta] %>
		<%= f.hidden_field :rt, value: ratings[:rt] %>
		<% if projected.is_a?(Numeric) %>
			<%= f.hidden_field :proj, value: projected %>
		<% end %>
		<%= f.select :rating,
	  	options_for_select([
	  		["5 Stars", 10],
	  		["4 Stars", 8],
	  		["3 Stars", 6],
	  		["2 Stars", 4],
	  		["1 Star", 2]
	  	]) 
	  %>

		<%= f.submit %>
	<% end %>
</div>
